.container-login {
  background-image: url('/public/images/login/background.png');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.card-login {
  border-radius: 15px;
  box-shadow: 0px 0px 10px #081a3342;
}