.input-navily {
  border-bottom: 1px solid #e1ebf5;
  background: transparent;
  width: 100%;
  padding: 0.5rem;
  color: #081a33;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}